@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.home {
  background: -webkit-gradient(linear, left top, right bottom, from(#140841), to(#360e36));
  background: linear-gradient(to bottom right, #140841, #360e36);
  color: white;
}

.main {
  max-width: 1200px;
}

.nav-container {
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container .cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: transform, background;
  transition-property: transform, background, -webkit-transform;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  z-index: 5;
  -webkit-backdrop-filter: grayscale(80%);
          backdrop-filter: grayscale(80%);
}

@media (max-width: 600px) {
  .nav-container .cursor {
    display: none;
  }
}

.nav-container .link-hide {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  background: white;
  border: none;
}

.nav-container .hovered-link {
  border: none;
  color: #140841;
}

@media (max-width: 600px) {
  .nav-container .hovered-link {
    color: white;
  }
}

.nav-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 6;
}

.nav-container nav h1 {
  padding: 1rem 10rem;
  font-size: 2rem;
}

.nav-container nav h1 a {
  text-decoration: none;
  color: white;
}

.nav-container nav h1 a:hover {
  color: #6abe6a;
}

@media (max-width: 600px) {
  .nav-container nav h1 {
    padding: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.nav-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10rem;
}

.nav-container nav ul li {
  font-size: 2rem;
  list-style: none;
  padding: 1rem;
  border: solid transparent;
}

.nav-container nav ul li a {
  padding: .5rem;
  color: white;
  text-decoration: none;
  border-radius: .8rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 600px) {
  .nav-container nav ul {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .nav-container {
    padding: 3rem;
    padding-bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav-container .white {
  background: #dad9d9;
}

.home-content {
  padding: 0rem 10rem;
  padding-bottom: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: .2fr 1fr .2fr 1fr .1fr;
      grid-template-rows: .2fr 1fr .2fr 1fr .1fr;
      grid-template-areas: ". ." "h1 img" "h2 img" "resume img" ". .";
}

.home-content h1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: h1;
  font-size: 5rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-bottom: 2rem;
}

.home-content h2 {
  display: inline;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: h2;
  font-size: 4rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding-bottom: 1rem;
}

.home-content img {
  padding-top: 5em;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: img;
  max-width: 500px;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (max-width: 600px) {
  .home-content img {
    padding: 0;
    width: 70vw;
  }
}

.home-content .resume {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: resume;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: bold;
  padding: 1rem;
  text-decoration: none;
  font-size: 3rem;
  background: white;
  border-radius: 1rem;
  color: #360e36;
}

.home-content .resume:hover {
  background: -webkit-gradient(linear, left top, right top, from(#3b5bb3), to(#3d8d3d));
  background: linear-gradient(to right, #3b5bb3, #3d8d3d);
  color: white;
}

@media (max-width: 600px) {
  .home-content .resume {
    margin: 0;
    padding: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .home-content {
    padding: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10rem;
  }
}

.scroll {
  position: absolute;
  top: 89%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.scroll span {
  display: block;
  height: 40px;
  width: 40px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -25px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

.scroll span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.scroll span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@media (max-width: 600px) {
  .scroll {
    display: none;
  }
}

.about {
  background: -webkit-gradient(linear, left bottom, right top, from(#140841), to(#360e36));
  background: linear-gradient(to top right, #140841, #360e36);
  padding: 0rem 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: .5fr 1fr .5fr;
      grid-template-rows: .5fr 1fr .5fr;
  overflow-x: hidden;
}

.about img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 90%;
  padding-top: 10rem;
}

@media (max-width: 600px) {
  .about img {
    padding-top: 0rem;
  }
}

.about h1 {
  font-size: 5rem;
  padding-bottom: 1rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media (max-width: 600px) {
  .about h1 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.about p {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  padding-top: -3rem;
  font-size: 2rem;
  font-weight: 100;
  line-height: 3.5rem;
}

@media (max-width: 600px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem;
  }
}

.skills {
  background: -webkit-gradient(linear, left top, right bottom, from(#140841), to(#360e36));
  background: linear-gradient(to bottom right, #140841, #360e36);
  font-size: 5rem;
  padding: 10rem;
}

@media (max-width: 600px) {
  .skills {
    padding: 2rem;
  }
}

.skills h1 {
  padding: 1rem;
}

.skills img {
  height: auto;
  min-height: 150px;
  max-width: 100%;
  vertical-align: middle;
}

.skills .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.skills .cards_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .skills .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .skills .cards_item {
    width: 33.3333%;
  }
}

@media (max-width: 600px) {
  .skills .card {
    min-width: 90vw;
  }
}

.skills .card {
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  position: relative;
}

.skills .card:hover {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -10px;
}

.skills .card:before {
  content: "";
  position: absolute;
  z-index: -2;
  top: -30px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.skills .card:hover:before {
  -webkit-transform: scale(2.15);
          transform: scale(2.15);
}

.skills .card_image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.skills .card_content {
  padding: 1rem;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(40%, #1e7954), to(#445c9e));
  background: linear-gradient(to bottom left, #1e7954 40%, #445c9e 100%);
}

.skills .card_title {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0px;
}

.skills .card_text {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.contact {
  background: -webkit-gradient(linear, left bottom, right top, from(#140841), to(#360e36));
  background: linear-gradient(to top right, #140841, #360e36);
}

@media (min-width: 1000px) {
  .contact {
    padding: 10rem;
  }
}

@media (max-width: 600px) {
  .contact {
    padding: 2rem;
  }
}

.contact h1 {
  font-size: 4rem;
}

.contact ul {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.contact ul li {
  padding: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  background: white;
  border-radius: .5rem;
  color: #360e36;
  font-weight: 550;
}

.contact ul li a {
  text-decoration: none;
  color: #360e36;
}

@media (max-width: 1000px) {
  .contact ul li {
    margin: 1rem;
  }
}

.contact ul li:hover {
  opacity: .7;
}

@media (max-width: 1000px) {
  .contact ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.social {
  padding-top: 2rem;
}

.social h2 {
  font-size: 3rem;
}

.social .fa {
  margin: 1rem 1rem 0 0;
  padding: 20px;
  font-size: 40px;
  width: auto;
  height: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: white;
  color: #470a47;
}

@media (max-width: 600px) {
  .social .fa {
    padding: 15px;
  }
}

.social .fa-linkedin:hover {
  color: #2055c7;
}

.social .fa-instagram:hover {
  color: #9e0e8b;
}

.social .fa-github:hover {
  color: #787883;
}

.social .fa-whatsapp:hover {
  color: #088f25;
}

.footer {
  background: -webkit-gradient(linear, left top, right bottom, from(#140841), to(#360e36));
  background: linear-gradient(to bottom right, #140841, #360e36);
  padding: 0 10rem 3rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer h2 {
  font-weight: lighter;
}

.footer h2 a {
  text-decoration: none;
  color: white;
}

@media (max-width: 600px) {
  .footer h2 {
    justify-self: flex-end;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 1rem;
  }
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.push b {
  opacity: 0;
}

.cd-headline.push b.is-visible {
  opacity: 1;
  -webkit-animation: push-in 0.6s;
  animation: push-in 0.6s;
}

.cd-headline.push b.is-hidden {
  -webkit-animation: push-out 0.6s;
  animation: push-out 0.6s;
}

@-webkit-keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-animation: translateX(-100%);
            animation: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
    -webkit-animation: translateX(10%);
            animation: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-animation: translateX(0);
            animation: translateX(0);
  }
}

@-webkit-keyframes push-out {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-animation: translateX(0);
            animation: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    -webkit-animation: translateX(110%);
            animation: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-animation: translateX(100%);
            animation: translateX(100%);
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  cursor: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}
