.home {
  background: linear-gradient(to bottom right, #140841, rgb(54, 14, 54));
  color: white;
}

.main {
  max-width: 1200px;
}

.update {
  background-color: black;
  margin: auto;
  text-align: center;

  h1 {
    font-size: 2rem;
    height: 8vh;
  }
}

.nav-container {
  padding: 2rem 0rem;
  display: flex;

  .cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.5s ease;
    transition-property: transform, background;
    transform-origin: 100% 100%;
    z-index: 5;
    backdrop-filter: grayscale(80%);

    @media (max-width: 600px) {
      display: none;
    }
  }

  .link-hide {
    transform: scale(2.5);
    background: white;
    border: none;
  }

  .hovered-link {
    border: none;
    color: #140841;

    @media (max-width: 600px) {
      color: white;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    flex: 1;
    z-index: 6;

    h1 {
      padding: 1rem 10rem;
      font-size: 2rem;

      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: rgb(106, 190, 106);
        }
      }

      @media (max-width: 600px) {
        padding: 0;
        align-self: center;
      }
    }

    ul {
      display: flex;
      padding-right: 10rem;

      li {
        font-size: 2rem;
        list-style: none;
        padding: 1rem;
        border: solid transparent;

        a {
          padding: 0.5rem;
          color: white;
          text-decoration: none;
          border-radius: 0.8rem;
          transition: all 0.5s ease;
        }
      }

      @media (max-width: 600px) {
        padding: 0;
      }
    }
  }

  @media (max-width: 600px) {
    padding: 3rem;
    padding-bottom: 0;
    justify-content: space-between;
  }

  .white {
    background: rgb(218, 217, 217);
  }
}

.home-content {
  padding: 0rem 10rem;
  padding-bottom: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 0.2fr 1fr 0.1fr;
  grid-template-areas:
    '. .'
    'h1 img'
    'h2 img'
    'resume img'
    '. .';

  h1 {
    grid-area: h1;
    font-size: 5rem;
    align-self: end;
    padding-bottom: 2rem;
  }

  h2 {
    display: inline;
    grid-area: h2;
    font-size: 4rem;
    align-self: start;
    padding-bottom: 1rem;
  }

  img {
    padding-top: 5em;
    grid-area: img;
    max-width: 500px;
    justify-self: end;

    @media (max-width: 600px) {
      padding: 0;
      width: 70vw;
    }
  }

  .resume {
    grid-area: resume;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
    font-size: 3rem;
    background: white;
    border-radius: 1rem;
    color: rgb(54, 14, 54);

    &:hover {
      background: linear-gradient(to right, rgb(59, 91, 179), rgb(61, 141, 61));
      color: white;
    }

    @media (max-width: 600px) {
      margin: 0;
      padding: 1rem;
      justify-content: space-between;
    }
  }

  @media (max-width: 600px) {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
  }
}

.scroll {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);

  span {
    display: block;
    height: 40px;
    width: 40px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    margin: -25px;

    animation: animate 2s infinite;

    &:nth-child(2) {
      animation-delay: -0.2s;
    }

    &:nth-child(3) {
      animation-delay: -0.4s;
    }
  }

  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }

  @media (max-width: 600px) {
    display: none;
  }
}
