.skills {
  background: linear-gradient(to bottom right, #140841, rgb(54, 14, 54));
  font-size: 5rem;
  padding: 10rem;



  @media (max-width:600px) {
    padding: 2rem;
  }

  h1 {
    padding: 1rem;
  }

  img {
    height: auto;
    min-height: 150px;
    max-width: 100%;
    vertical-align: middle;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .cards_item {
    display: flex;
    padding: 1rem;
  }

  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }

  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }

  @media (max-width:600px) {
    .card {
    min-width: 90vw;
    }
  }

  .card {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;

      }

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -30px;
        right: -16px;
        background: #00838d;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: transform 0.15s ease-out;
      }

      &:hover:before {
        transform: scale(2.15);
      }
  }

  .card_image {
    flex: 1;
  }
  .card_content {
    padding: 1rem;
    flex: 1.5;
    background: linear-gradient(to bottom left, #1e7954 40%, #445c9e 100%);
  }

  .card_title {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
  }

  .card_text {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
  }
}
